/* START MEDIA */
/* large */
@media (max-width: 1200px) {
  .container {
    width: 1176px !important;
  }
}
/* medium */
@media (max-width: 992px) {
  .container {
    width: 968px !important;
  }
}
/* small */
@media (max-width: 768px) {
  .container {
    width: 744px !important;
  }
}
/* mobile */
@media (max-width: 576px) {
  .container {
    width: 100% !important;
  }
}
/* END MEDIA */

:root {
  --main-dark: #19283f;
  --active-color: #33d1cc;
  --native-color: #eff7fa;
  --title-color: #ffc400;
  --primary-blue: #0d6efd;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
}

/* START NAV */
.navbar {
  background-color: var(--main-dark);
}
.navbar-collapse > ul {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.navbar-collapse > ul .active {
  color: var(--active-color) !important;
}
.navbar .navbar-toggler {
  color: white;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.search {
  border-left: 2px solid var(--active-color);
  cursor: pointer;
}
.search svg {
  color: var(--active-color);
}
/* END NAV */
/* START LANDING */
.landing {
  background-color: var(--main-dark);
  min-height: calc(100vh - 56px);
}
/* END LANDING */
/* START WE ARE GOOD AT */
.row .row-box > h2 {
  color: var(--title-color);
}
.icons {
  height: 200px;
}
.icons svg {
  left: 50%;
  transform: translateX(-50%);
}
.icons svg:nth-child(1) {
  font-size: 12rem;
  color: var(--native-color);
  z-index: -1;
}
.icons svg:nth-child(2) {
  color: var(--active-color);
  bottom: 24px;
  font-size: 4rem;
}
/* END WE ARE GOOD AT */
/* START WE MAKE THIS */
.we-make-this {
  background-color: var(--native-color);
}
.we-make-this ul li {
  cursor: pointer;
}
.we-make-this ul li.active {
  background-color: var(--primary-blue);
  color: white;
}
.we-make-this .box::before {
  content: attr(data-work);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  background-color: rgb(25, 40, 63, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.we-make-this .box:hover::before {
  top: 50%;
  cursor: pointer;
}
/* END WE MAKE THIS */
/* START ABOUT US */
.about-us .box .info::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  background: var(--active-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about-us .box p:nth-child(3) {
  max-width: 500px;
}
/* END ABOUT US */
/* START MEET THE TEAM */
.team {
  background-color: var(--native-color);
}
.team .container h2 {
  color: var(--title-color);
}
.team .container .row .card h3 {
  background-color: var(--active-color);
}
/* END MEET THE TEAM */
/* START START YOUR PROJECT NOW */
.start-project {
  background-color: var(--main-dark);
}
/* END START YOUR PROJECT NOW */
/* START SUBSCRIBE */
.subscribe {
  background-color: var(--title-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe input[type="text"]::placeholder {
  color: white;
}
.subscribe input:last-of-type {
  color: var(--title-color);
  background-color: var(--main-dark);
}
/* END SUBSCRIBE */
/* START FOOTER */
.footer {
  background-color: var(--main-dark);
}
.footer li {
  cursor: pointer;
}
.footer .copy-right span:first-of-type {
  color: var(--title-color);
}
.footer .copy-right span:last-of-type {
  color: var(--active-color);
}
.footer .social ul li {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer .social svg {
  width: 25px;
  height: 25px;
}
.footer .social ul li:nth-child(1) {
  background-color: #1877f2;
}
.footer .social ul li:nth-child(2) {
  background-color: #ff0000;
}
.footer .social ul li:nth-child(3) {
  background-color: #0a66c2;
}
.footer .social ul li:nth-child(4) {
  background-color: #333;
}
/* END FOOTER */
